<mat-card *ngIf="!launches">
  <div>
    No missions found
  </div>
</mat-card>

<mat-card *ngFor="let launch of launches | async" class="course-card mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>{{launch.mission_name}}</mat-card-title>
  </mat-card-header>
  <div>
    <p>{{launch.launch_year}}</p>
    <p>{{launch.details}}</p>
    <p><img src="{{launch.links.mission_patch_small}}" alt="small patch"/></p>
  </div>
  <mat-card-actions class="course-actions">
    <button mat-button
            class="mat-raised-button mat-primary"
            (click)="this.router.navigate(['/missions/', launch.flight_number]);">
      VIEW MISSION DETAILS
    </button>
  </mat-card-actions>
</mat-card>
